.main-page {
  padding-left: 0;
  padding-right: 0;
}
.header-bg {
  width: auto;
  background: url(../../../../images/header/pattern.png),linear-gradient(to left,#7b4397,#dc2430);
  height: 400px;
  h1 {
    text-align: center;
    color: white;
    line-height: 4.4;
    font-size: 80px;
  }
}




