{%
set header_classes = [
    'container-fluid',
]
%}

<section {{ attributes.addClass(header_class) }}>
  {{ header }}
    <div class="container-fluid header-bg">
      <h1 class="text-center"> Header </h1>
    </div>
</section>
